<link_to(photo_path(server.id), html_options = {}) do>
<td><img src="http://<%=server.hostname.split('.')[-2]%>.<%=server.hostname.split('.')[-1]%>/favicon.ico" onerror="this.src='notfound.png';" style="
    height: 25px;width: 25px;"/></td>
<td><h3><%= server.hostname %></h3></td>
<td><%= link_to "login", login_path(server.id) %></td>
<td><%= link_to "edit", edit_server_path(server.id) %></td>
<td><%= link_to "delete", server_path(server.id), :method => :delete %></td>
<end>
